/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

:root {
    /* ===== Colors ===== */
    --body-color: #f7f7f7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --box-color: #ffffff;
    --button-color: #695CFE;
    --button-text: white;
    --button-color-hover: #274c77;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #f0f0f0;
    --button-color: #495057;
    --button-text: white;
    --button-color-hover: #2f4550;
}

h1, h2, h3, h4, h5, h6, label, p, th, td {
    color: var(--text-color) !important;
}

span {
    line-height: initial;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    padding: 1.2em 3em;
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

@media only screen and (max-width: 767px) {
    .home {
        width: calc(100% - 78px);
        padding: 1.2em 1em !important;
    }
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home {
    left: 80px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

.center {
    text-align: center;
}

.box {
    background: var(--box-color);
    overflow: hidden;
    height: 20vh;
    border-radius: 1.3em;
}

.box-text {
    font-size: 16px;
}

.counter {
    font-size: 2em;
    font-weight: 900;
}

.ui.grid > .column {
    margin: 10px;
!important;
}

.menu-links {
    padding: 0 !important;
}

.nav-link {
    padding: 0 !important;
}

.nav-link.active {
    background-color: var(--primary-color-light);
    border-radius: 6px;
}

.flex_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.map {
    height: 75vh;
    width: 100%;
    margin-top: 20px;
    border-radius: 1.3em;
}

body .home .grid .box {
    background-color: var(--sidebar-color);
    color: var(--text-color)
}


/*  Add order css */

.ui.dividing.header {
    border-bottom: 1px solid var(--text-color) !important;
}

input.picker[type="datetime-local"] {
    position: relative;
}

input.picker[type="datetime-local"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
}

label {
    font-size: 16px !important;
}

@media screen and (min-width: 767px) {
    input {
        height: 50px !important;
    }

    .add_order_coint {
        margin-top: 8vh;
    }
}

/* TABLET */
@media screen and (max-width: 1024px) {
    .home {
        overflow: unset !important;
        height: fit-content !important;
        width: calc(100% - 78px) !important;
    }

    .analysis_section {
        grid-template-columns: 1fr !important;
        height: fit-content !important;
        overflow-y: scroll;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    .add_order_coint {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100%;
    }

    #phone_info {
        display: none;
    }

    input {
        height: 30px !important;
    }

    label {
        font-size: 13px !important;
    }

    .field {
        margin: 0 !important;
    }

    .home {
        overflow: unset !important;
        height: fit-content !important;
    }

    .main_button {
        width: fit-content !important;
    }
}

.main_button {
    background-color: var(--button-color) !important;
    color: var(--button-text) !important;
    width: 200px;
    height: 60px;
}

.main_button:hover {
    background-color: var(--button-color-hover) !important;
}

.ui.form textarea:not([rows]) {
    height: 6em !important;
}

.table {
    background: unset !important;
}

.ui.table thead th {
    background: unset !important;
}

body.dark .table {
    border: 1px solid white !important;
}

@media only screen and (max-width: 910px) {
    .delivery_content {
        max-height: 100px !important;
        overflow: hidden;
        overflow-y: scroll;
    }

    .flex_filter button {
        width: 100% !important;
        margin-bottom: 5px !important;
    }

    .filter_all {
        margin-bottom: 0 !important;
    }

    .graphBox {
        grid-template-columns: 1fr !important;
        max-height: fit-content !important;
    }
}

.table {
    overflow-y: scroll;
}

.table tr {
    cursor: pointer;
}

.flex_filter {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1120px) {

    .flex_filter {
        flex-direction: column;
    }

    .filter_all {
        margin-bottom: 10px;
    }
}

.charts {
    height: fit-content !important;
}

/*  CHARTS */
.graphBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    min-height: 200px;
    max-height: 350px;
}

.graphBox .chartbox {
    position: relative;
    background: var(--sidebar-color);
    padding: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0);
    border-radius: 1.3em;
}

/* END OF CHARTS */

/* ANOTHER ANALYSIS */
.analysis_section {
    margin-top: 20px;
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    height: calc(100% - 350px);
}

.analysis_section .analysis_box {
    position: relative;
    background: var(--sidebar-color);
    padding: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0);
    border-radius: 1.3em;
    color: var(--text-color);
    overflow-y: scroll;
}

.analysis_box .counter {
    margin-bottom: 20px;
}

.analysis_box .table {
    font-size: 18px;
}