<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link href="/static/css/semantic.min.css" rel="stylesheet" media="all">
    <title>EasyTransport</title>
    <link href="/static/css/main.css" rel="stylesheet">
    <script src="/static/js/main.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
{% include 'left_side_navbar.html' %}
<section class="home">
    <div class="ui grid equal width stackable">
        <div class="column center box">
            <div class="box-text">
                <span class="counter">6</span><br>
                <span>Nie zrealizowanych zamówień</span>
            </div>
        </div>
        <div class="column center box">

        </div>
        <div class="column center box">

        </div>
    </div>
</section>
</body>
</html>