{% extends 'main_page.html' %}
{% block title %}
    EasyTransport | Zamówienia
{% endblock %}
{% block content %}
    {#    <div class="ui input focus">#}
    {#        <input type="text" placeholder="Search...">#}
    {#    </div>#}
    <div class="flex_filter">
        <div class="filter_all">
            <a href="{% url 'orders' status='' %}">
                <button class="ui primary basic button">Wszystkie zamówienia</button>
            </a>
        </div>
        <div>
            <a href="{% url 'orders' status=1 %}">
                <button class="ui primary basic button">Nowe</button>
            </a>
            <a href="{% url 'orders' status=2 %}">
                <button class="ui primary basic button">Zdefiniowano transport</button>
            </a>
            <a href="{% url 'orders' status=3 %}">
                <button class="ui positive basic button">Zrealizowane</button>
            </a>
            <a href="{% url 'orders' status=4 %}">
                <button class="ui negative basic button">Anulowane</button>
            </a>
        </div>
    </div>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>IMIE NAZWISKO</th>
            <th>ZAWARTOŚĆ</th>
            <th>ADRES DOSTAWY</th>
            <th>DATA DOSTARCZENIA</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr onclick="window.location.replace('/')"
                class="{% if order.status == 3 %}positive{% elif order.status == 4 %}negative{% endif %}">
                <td><i class='bx bxs-user-account'></i> {{ order.client }}</td>
                <td class="delivery_content"><p>{{ order.opis }}</p></td>
                <td><i class='bx bxs-map-alt'></i> {{ order.delivery_address }}</td>
                <td><i class='bx bxs-calendar'></i> {{ order.delivery_time|date:'d/m H:i' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}